@charset "utf-8";
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.ttf');
}

h1, h2, p, span, a, button, input, div, label, textarea {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a:visited, a:active, a:visited {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}

#firstPanel {
    background: #101820;
    background-size: cover;
    min-height: 100vh;
}

#logo {
    height: 4vw;
    transition: 0.5s;
}

#logo:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

#home {
    width: 80vw;
}

.logButtons {
    border: white solid 2px;
    border-radius: 5px;
    padding: 0.5vw 1vh;
    color: white;
    background: #b60c17;
    text-transform: uppercase;
    transition: 0.1s;
    cursor: pointer;
}

.logButtons:hover {
    color: #e50914;
    background: white;
    border: #e50914 solid 2px;
    transform: scale(1.1);
    transition: 0.2s;
}

#navbar {
    height: auto;
    padding: 3vh 3vw;
    display: flex;
    align-items: center;
}

#actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3vw;
}

#actions :first-child {
    margin-right: 3vw;
}

#sign-up-form-container, #sign-in-form-container {
    background: #b60c17;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 0;
}

#sign-up-form-container>h2, #sign-in-form-container>h2 {
    color: white;
    font-size: 3vw;
    padding: 0;
    margin: 0 0 1vw;
}

.logForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vw;
}

#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form-container>h2 {
    color: white;
    font-size: 4vw;
    margin-bottom: 1vw;
    margin-top: 0;
}

#searchForm>button {
    height: 2.5vw;
    font-size: 1vw;
    border: solid white 2px;
    border-radius: 0 5px 5px 0;
    color: white;
    background: #101820;
    transition: 0.1s;
}

#upload-button {
    height: 2.5vw;
    font-size: 1vw;
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    background: #b60c17;
    transition: 0.1s;
}

#searchForm>input {
    height: 1.3vw;
    width: 31vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border: white solid 2px;
    border-radius: 5px 0 0 5px;
}

.logForm>button {
    width: 35vw;
    height: 2.5vw;
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    background: #101820;
    transition: 0.1s;
}

.logForm>input {
    width: 31vw;
    padding: 1vw 2vw;
    margin-bottom: 2vw;
    border: white solid 2px;
    border-radius: 5px;
}

.logForm>button:hover {
    transition: 0.2s;
    background: white;
    border: solid #101820 3px;
    color: #101820;
}
#searchForm>button:hover {
    transition: 0.2s;
    background: #b60c17;
}

#upload-button:hover {
    transition: 0.2s;
    background: #101820;
    cursor: pointer;
}

.presentation {
    background: #101820;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.presentation>h1 {
    font-size: 4vw;
    width: 50%;
    position: absolute;
    color: #101820;
    text-align: center;
    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white,
                 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;

}

.presentation>img {
    position: absolute;
    height: 80%;
    filter: blur(4px);
}

.alerts {
    position: absolute;
    padding: 0;
    z-index: 999;
    left: 50%;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alerts>div{
    position: relative;
    left: -50%;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border: solid 2px white;
    border-radius: 25px;
    margin-bottom: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    background: #A50034;
    color: white;
}

.info {
    background: #F1B434;
    color: white;
}

.success {
    background: #7CCC6C;
    color: white;
}

#results {
    background: #333F48;
    padding: 4vw 4vw 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results>div {
    margin-bottom: 2vw;
}

.result {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.cover-container {
    position: relative;
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-container>img {
    width: 100%;
    position: relative;
}

.result :nth-child(1n) {
    color: white;
}

.movie-text {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding-left: 3vw;
}

.title {
    font-size: 4vw;
    margin-bottom: 2vw;
    margin-top: 0;
}

.description {
    font-size: 1.5vw;
}

.more-info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

#player-container {
    width: 100%;
    height: 45vw;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#player {
    height: 40vw;
    width: 50vw;
    background: #F1B434;
}

#admin-panel {
    width : 100%;
    justify-content : center;
    align-items : center;
    background : #F1B434;
    display: none;
}

.content-form {
    height : 1.3vw;
    width : 25vw;
    padding : 0.5vw 1vw;
    font-size : 1vw;
    border : white solid 2px;
    border-radius : 5px;
    margin-bottom : 1vw;
}

select.content-form {
    height: 3vw;
    width: 100%;
}

textarea.content-form {
    max-width: 25vw;
    min-width: 25vw;
    max-height: 10vw;
}

.admin-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F1B434;
}

.admin-form-title {
    color: white;
    font-size: 4vw;
    margin-top: 1vw;
    margin-bottom: 0;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    padding: 2.5vw;
}